BODY {
	background-color: #f0f0f0;
 	color: #FFFFFF;
	FONT-FAMILY: "Trebuchet MS", "Times New Roman", Times, serif; 
	background-image: url(img/fond.jpg);

}

a:active {  text-decoration: none; COLOR: #F9BB2F; }
a:link {  text-decoration: none; COLOR: #F9BB2F;}
a:visited {  text-decoration: none; COLOR: #F9BB2F; }
a:hover { text-decoration: underline; COLOR: #F86F0A; }

.mh_tdpage {
	text-align: center;
  	margin-left: auto; 
  	margin-right: auto;
	border-color: #F9BB2F;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
	width: 950px;
	background-color:#30385C;
}





